img.ui.image.business-image {
  height: 200px;
  object-fit: cover;
}
img.ui.image.favorite-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.ui.card.business-card {
  width: 200px;
}

h2.ui.header,
.header {
  text-transform: capitalize;
}

html {
  background-image: url("./images/skyline_min2.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: transparent;
}
.ui.card .content {
  overflow: hidden;
}

.map-container {
  height: 200px;
}
